@model WebApplication_MVC_GRUPO8.Models.Incidencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Incidencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagenIncidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagenIncidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaReporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaReporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEncargado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEncargado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaAsignacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaAsignacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.justificacionDescarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.justificacionDescarte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicioReparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaInicioReparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFinReparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaFinReparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcionGasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcionGasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagenFinalIncidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagenFinalIncidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadoIncidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadoIncidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complejidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complejidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
